# default whiteboard format
# %T -> time
# %P -> package name
# %D -> distro name
# %G -> global setup(host require, distro require or other global system setup)
# %O -> gen_job_xml options
# %H -> hostinfo: 'S' for siglehost test, 'M.$serverN.$clientN' for multihost test
# %N -> task number
# %C -> comment: specified by bkr-runtest --wb-comment option
# %S -> test Summury Prefix
# %s -> test Summury
set WB_FORMAT {[%T] [%P@%D %H:%N] %C%S/%s %G%O}
# set WB_FORMAT {[%T] [%N:%H@%D] %C%S/%s}

# kdump file nfs share url
#set KDUMP_ADDR "ibm-xxx.redhat.com:/sharerw/vmcore"

# kcov param
#set KCOV_PARAM "fs,net/sunrpc"

#set jobOwner <krb5_name>

#set groupOwner network-qe

#set hostRequireAlias https://gitlab.cee.redhat.com/kernel-qe/kernel/raw/master/filesystems/Inventory/hostrequire-alias.tcl

#set Harness beah # or restraint

set OSInstaller /distribution/check-install
#set defaultSwitch2BootcFromImageModeTask /network-qe/bootc-beaker/switch-to-rhel
#set defaultSwitch2BootcFromPkgModeTask /network-qe/bootc-beaker/switch-pkg-to-image-mode
