%post --log=/root/my-ks-post.log

downhostname=download.devel.redhat.com

#generate buildroot repo
rtype=rel-eng
rtype=nightly
verx=$(rpm -E %rhel)
case $verx in
8|9)
	buildrootUrl=http://$downhostname/rhel-$verx/$rtype/BUILDROOT-$verx/latest-BUILDROOT-$verx-RHEL-$verx/compose/Buildroot/$(arch)/os/
	cat <<-EOF >/etc/yum.repos.d/beaker-buildroot.repo
	[beaker-buildroot]
	name=beaker-buildroot
	baseurl=$buildrootUrl
	enabled=1
	gpgcheck=0
	skip_if_unavailable=1
	EOF
	;;
esac

#update restraint plugins
_rpath=share/restraint/plugins/task_run.d
_path=qa/rhts/lookaside/bkr-client-improved/$_rpath
curl -k -Ls --output-dir /usr/$_rpath --remote-name-all http://$downhostname/$_path/{25_environment,27_task_require}
chmod a+x  /usr/$_rpath/*
sed -i '$i[[ -z "\$RSTRNT_NOPLUGINS" ]] && { testmark __finallyDone; testwaitfor __finallyDone $SERVERS $CLIENTS; rm -rf /tmp/testmark; }' /usr/${_rpath%/*}/completed.d/85_sync_multihost_tasks

#add more post actions:

%end
