%post --log=/root/my-ks-post.log

downhostname=download.devel.redhat.com
LOOKASIDE=${LOOKASIDE:-http://$downhostname/qa/rhts/lookaside}

#generate buildroot repo
rtype=rel-eng
rtype=nightly
verx=$(rpm -E %rhel)
case $verx in
8|9|10)
	buildrootUrl=http://$downhostname/rhel-$verx/$rtype/BUILDROOT-$verx/latest-BUILDROOT-$verx-RHEL-$verx/compose/Buildroot/$(arch)/os/
	[[ $verx = 10 ]] &&
		buildrootUrl=http://$downhostname/rhel-$verx/nightly/BUILDROOT-10-Public-Beta/latest-BUILDROOT-10-RHEL-10/compose/Buildroot/$(arch)/os/
	cat <<-EOF >/etc/yum.repos.d/beaker-buildroot.repo
	[beaker-buildroot]
	name=beaker-buildroot
	baseurl=$buildrootUrl
	enabled=1
	gpgcheck=0
	skip_if_unavailable=1
	EOF
	;;
esac
[[ $verx = 8 ]] && yum install -y python36
[[ $verx = y ]] && yum install -y python3

#update restraint plugins
LOOKASIDE_BASE_URL=$LOOKASIDE
bkrClientImprovedUrl=${LOOKASIDE_BASE_URL}/bkr-client-improved
_rpath=share/restraint/plugins/task_run.d
(cd /usr/$_rpath && curl -k -Ls --retry 64 --retry-delay 2 --remote-name-all $bkrClientImprovedUrl/$_rpath/{25_environment,27_task_require})
(cd /usr/${_rpath%/*}/completed.d && curl -k -Ls --retry 64 --retry-delay 2 -O $bkrClientImprovedUrl/${_rpath%/*}/completed.d/85_sync_multihost_tasks)
chmod a+x  /usr/$_rpath/* /usr/${_rpath%/*}/completed.d/*

#add more post actions:

%end
