# Sub-test list file
#
# Take every line as a test Object: Consisted by { Attr: ...[, Param: ...[, GlobalSetup: ... [, Condition: ...]]] }
# - Attr:        #key=value list:
#     level=Tier1/Tier2/...
#     type=regresion/function/stress/...
#     ssched=no/yes            #Means if need schedule the test alone
#     disable=yes              #This test is not ready
# - Param:       #ENV list of the test:
#     VAR=$VALUE
# - GlabalSetup: #Command option list of bkr-workflow/gen_job_xml.sh:
#     --arch                   #Run for specified arch
#     --kernel-options=k=v     #same as bkr-workflow/gen_job_xml.sh option
#     --hostrequire=k=v        #same as bkr-workflow/gen_job_xml.sh option
#     --keyvalue=k=v           #same as bkr-workflow/gen_job_xml.sh option
#     --machine=v              #same as bkr-workflow/gen_job_xml.sh option
#     ...
# - Condition
#     --noarch                 #Exclude specified arch
#
# Example:
#    Attr: 
#    Attr: ssched=yes.dangerous
#    Attr: , Param: PROTO=tcp VER=4
#    Attr: level=Tier1 type=regression ssched=yes disable=yes, Param: var=value, GlobalSetup: --kernel-options=x=y --keyvalue=x=y
#    Attr: , Param: PROTO=tcp VER=4, GlobalSetup: -arch=x86_64, Condition: expand=no

