# Sub-test list file
#
# Take every line as yaml string: attr: {}, param: [], setup: []
# - attr:        #attr key: value hash:
#     level: Tier1|Tier2|...
#     type: regresion|function|stress|...
#     ssched: no|yes[.reason]  #Means if need schedule the test alone
#     disable: yes             #This test is not ready
#     distroin:    <regular expression pattern to match distro name>
#     distronotin: <regular expression pattern to match distro name>
#     archin:      <regular expression pattern to match arch name>
#     archnotin:   <regular expression pattern to match arch name>
# - param:       #param list:
#     VAR=$VALUE
# - setup:       #option list of bkr workflow-*, bkr-runtest, gen_job_xml:
#     --topo=singlehost
#     --topo=multihost.1.2
#     --kernel-options=k=v     #same as bkr workflow/gen_job_xml option
#     --hostrequire=k=v        #same as bkr workflow/gen_job_xml option
#     --keyvalue=k=v           #same as bkr workflow/gen_job_xml option
#     --machine=v              #same as bkr workflow/gen_job_xml option
#     ...
# Example:

attr: {distroin: 'RHEL-[56]', ssched: yes.dangerous}

attr: {archnotin: s390x, ssched: yes.dangerous}

attr: {archin: x86_64}, param: ['VAR=value,with,comma', VAR2=value with space], setup: [--topo=singlehost]

attr: {level: Tier3, ssched: yes.longtime}, param: [var=value, x=y], setup: [--kernel-options=x=y, --keyvalue=x=y]

param: [PROTO=tcp, NFS_VER=4.2]

param: [PROTO=udp, NFS_VER=3], setup: ['--opt=arg,with,comma', --topo=multihost.1.2, --fips]

setup: [--hostrequire=labcontroller!=lab-02.rhts.eng.nay.redhat.com --hostrequire=labcontroller!=lab-01.rhts.eng.pek2.redhat.com]

setup: [--hostrequire=cpu_count>2]

setup: [--partition=fs=xfs name=/mnt/ltp-generic size=6 type=part]

setup: [--nokdump, '--machine=hp-dl388g8-18.rhts.eng.pek2.redhat.com,hp-dl388g8-15.rhts.eng.pek2.redhat.com']

setup: [--sysrequire=numanodes>=2, --topo=multihost.1.1]

setup: [--keyvalue=CPUFLAGS=avx2]

setup: [--keyvalue=hypervisor=]

setup: [--ignore-panic]
